doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/static/jquery/jquery.js')
    script(src='/static/mousetrap/mousetrap.js')
    script(src='/javascripts/images.js')
    
  body
    block content
    img#pic
